In [23]:
import pandas as pd
df_1 = pd.read_csv('model_cost.csv')
df_1.head()

     Model    cost  No of tokens  no of calls  cost in USD (before discount)
0  Codegen  0.0018         10000            1                          0.018
1  Codegen  0.0018         10000          100                          1.800
2  Codegen  0.0018         10000          500                          9.000
3  Codegen  0.0018         10000         1000                         18.000
4  Codegen  0.0018         10000        10000                        180.000

In [24]:
Q1 = "What is the average cost per model?"  

# {
#   "code": "df.groupby('Model')['cost'].mean()",
#   "answer": "The average cost per model is: Model A - $2.00, Model B - $3.50, Model C - $1.80, etc."
# }


Q2 = "which model is most expensive"

In [25]:
schema_data = df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 5 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Model                          16 non-null     object
 1   cost                           16 non-null     float64
 2   No of tokens                   16 non-null     int64
 3   no of calls                    16 non-null     int64
 4   cost in USD (before discount)  16 non-null     float64
dtypes: float64(2), int64(2), object(1)
memory usage: 772.0+ bytes

In [26]:
import io
import json 


# Extract columns and their data types
columns = df_1.columns
dtypes = df_1.dtypes

# Build the schema as a dictionary
schema_data = {"columns": []}

for col, dtype in zip(columns, dtypes):
    schema_data["columns"].append({
        "name": col,
        "type": str(dtype)
    })

# Convert to JSON format
schema_json = json.dumps(schema_data, indent=2)

# Now you have the schema in JSON format
print(schema_json)

{
  "columns": [
    {
      "name": "Model",
      "type": "object"
    },
    {
      "name": "cost",
      "type": "float64"
    },
    {
      "name": "No of tokens",
      "type": "int64"
    },
    {
      "name": "no of calls",
      "type": "int64"
    },
    {
      "name": "cost in USD (before discount)",
      "type": "float64"
    }
  ]
}

In [39]:
prompt_json = """Here is the input dataframe in JSON format:
{schema_json}


Please answer the question based on the input dataframe. It provides model cost information.

Requirements:
- Do NOT generate SQL code.
- Do NOT import any new data source.
- Use the correct dataframe name.
- Use pandas DataFrame methods and column names exactly as provided. (case-sensitive).
- Do not create new columns unless explicitly required.
- If unsure, prefer using groupby for aggregation over row-wise operations.
- Return the answer in JSON format, including the Python Pandas code used to derive the answer.

Output Format:
{{
  "code": "<pandas code here>",
  "answer": "<natural language answer here>"
}}

Think step by step before answering.

Example Queries and Outputs:

1. Query: "List all unique models available?"
   Output:
   {{
     "code": "df['Model'].unique().tolist()",
     "answer": "The unique models available are: Model A, Model B, Model C, etc."
   }}

2. Query: "Which model has the highest cost?"
   Output:
   {{
     "code": "df.sort_values('cost', ascending=False).iloc[0]",
     "answer": "The model with the highest cost is Model X with a cost of $5,000."
   }}

3. Query: "Which model processed the highest number of tokens?"
   Output:
   {{
    "code": "df.sort_values('No of tokens', ascending=False).iloc[0]",
    "answer": "The model that processed the highest number of tokens is Model Z with 5,000,000 tokens."
   }}

Here is the query: {Q}

"""

In [32]:
from langchain_ibm import WatsonxLLM
from ibm_watsonx_ai import Credentials
from ibm_watsonx_ai.foundation_models.utils.enums import ModelTypes
from ibm_watsonx_ai.metanames import GenTextParamsMetaNames as GenParams
from ibm_watsonx_ai.foundation_models.utils.enums import DecodingMethods

In [33]:
project_id = "a15722af-476f-4ad2-ad25-090750dd14e2"  # WatonX project ID

credentials = Credentials(
    url="https://us-south.ml.cloud.ibm.com",
    api_key="Nt8BVcy9pRD8bDngmalyAujN02hPV7PsuJu6bpUr6zxN"
)

parameters = {
    GenParams.DECODING_METHOD: DecodingMethods.GREEDY.value,
    GenParams.MAX_NEW_TOKENS: 8000,
    GenParams.MIN_NEW_TOKENS: 1,
    GenParams.TEMPERATURE: 0.5
}
watsonx_llm_code = WatsonxLLM(model_id="ibm/granite-34b-code-instruct", 
                              url=credentials.url,
                              apikey=credentials.api_key,
                              project_id=project_id,
                              params=parameters)

/Users/durgaprasad/Desktop/_WEEKEND/DAY4-AI/env3_11/lib/python3.11/site-packages/ibm_watsonx_ai/foundation_models/utils/utils.py:436: LifecycleWarning: Model 'ibm/granite-34b-code-instruct' is in deprecated state from 2025-04-16 until 2025-07-17. IDs of alternative models: None. Further details: https://dataplatform.cloud.ibm.com/docs/content/wsj/analyze-data/fm-model-lifecycle.html?context=wx&audience=wdp
  warn(model_state_warning, category=LifecycleWarning)

In [40]:
response = watsonx_llm_code.generate([prompt_json.format(schema_json=schema_json, Q='Which model has the highest cost')])

generated_text = response.generations[0][0].text

print(response)

generations=[[Generation(generation_info={'finish_reason': 'eos_token'}, text="\nHere is the code to answer the query:\n```python\ndf['cost per model'] = df['cost'] / df['Model']\naverage_cost_per_model = df['cost per model'].mean()\n```\n\nThe average cost per model is $200.")]] llm_output={'token_usage': {'generated_token_count': 63, 'input_token_count': 497}, 'model_id': 'ibm/granite-34b-code-instruct', 'deployment_id': None} run=[RunInfo(run_id=UUID('8d0dad72-a445-40b8-ab87-dfabce0fb7a3'))] type='LLMResult'

In [41]:
parts = generated_text.split("```python")
code = parts[1].split("```")[0].strip() if len(parts) > 1 else None
answer = parts[1].split("```")[1].strip() if len(parts) > 1 else None

print("Code:", code)
print("Answer:", answer)

Code: df['cost per model'] = df['cost'] / df['Model']
average_cost_per_model = df['cost per model'].mean()
Answer: The average cost per model is $200.

In [10]:
df= df_1
df.head()

     Model    cost  No of tokens  no of calls  cost in USD (before discount)
0  Codegen  0.0018         10000            1                          0.018
1  Codegen  0.0018         10000          100                          1.800
2  Codegen  0.0018         10000          500                          9.000
3  Codegen  0.0018         10000         1000                         18.000
4  Codegen  0.0018         10000        10000                        180.000

In [34]:
df[df['Model'] == 'Codegen']['cost'].mean()

0.0018

In [35]:
result = eval(code) 
result

0.0018